[submodule "packages/dss-bridge/lib/dss-test"]
	path = packages/dss-bridge/lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "packages/dss-bridge/lib/xdomain-dss"]
	path = packages/dss-bridge/lib/xdomain-dss
	url = https://github.com/makerdao/xdomain-dss
[submodule "packages/teleport-integration-tests/repos/optimism-monorepo"]
	path = packages/teleport-integration-tests/repos/optimism-monorepo
	url = https://github.com/ethereum-optimism/optimism.git
[submodule "packages/teleport-integration-tests/repos/dss-teleport"]
	path = packages/teleport-integration-tests/repos/dss-teleport
	url = https://github.com/makerdao/dss-teleport.git
